In [32]:
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
from sklearn import preprocessing
import matplotlib.pylab as plt

import dmba

cereals_df = dmba.load_data('Cereals.csv')
print(cereals_df.describe())


pcs = PCA(n_components=2)
pcs.fit(cereals_df[['calories', 'rating']])

pcsComponents_df = pd.DataFrame(pcs.components_.transpose(), columns=['PC1', 'PC2'], 
                                index=['calories', 'rating'])
pcsComponents_df

         calories    protein        fat      sodium      fiber  ...    vitamins      shelf     weight       cups     rating
count   77.000000  77.000000  77.000000   77.000000  77.000000  ...   77.000000  77.000000  77.000000  77.000000  77.000000
mean   106.883117   2.545455   1.012987  159.675325   2.151948  ...   28.246753   2.207792   1.029610   0.821039  42.665705
std     19.484119   1.094790   1.006473   83.832295   2.383364  ...   22.342523   0.832524   0.150477   0.232716  14.047289
min     50.000000   1.000000   0.000000    0.000000   0.000000  ...    0.000000   1.000000   0.500000   0.250000  18.042851
25%    100.000000   2.000000   0.000000  130.000000   1.000000  ...   25.000000   1.000000   1.000000   0.670000  33.174094
50%    110.000000   3.000000   1.000000  180.000000   2.000000  ...   25.000000   2.000000   1.000000   0.750000  40.400208
75%    110.000000   3.000000   2.000000  210.000000   3.000000  ...   25.000000   3.000000   1.000000   1.000000  50.828392
max    160.000000   6.000000   5.000000  320.000000  14.000000  ...  100.000000   3.000000   1.500000   1.500000  93.704912

[8 rows x 13 columns]

               PC1       PC2
calories -0.847053  0.531508
rating    0.531508  0.847053

In [31]:
scores = pd.DataFrame(pcs.transform(cereals_df[['calories', 'rating']]), 
                      columns=['PC1', 'PC2'])
scores

          PC1        PC2
0   44.921528   2.197183
1  -15.725265  -0.382416
2   40.149935  -5.407212
3   75.310772  12.999126
4   -7.041508  -5.357686
..        ...        ...
72  -4.532085  -1.358466
73 -10.566224 -10.974956
74   9.615628   2.374065
75  10.574865   3.902783
76  -6.083351  -3.830689

[77 rows x 2 columns]